<style>
   @import url("https://fonts.googleapis.com/icon?family=Material+Icons");

</style>

<div class="container">

   <div class="images-container" [style.left]="st">

      <div class="image-wrapper {{ currentIndex == songIndex ? 'active' :''}}" *ngFor="let songItem of songList;index as songIndex">
         <img src="{{songItem.image}}" alt="" class="image" >
      </div>
   </div>
  <h2 class="title">{{song.title}}</h2>
  <span class="artist">{{song.artist}}</span>  
  <div class="progress-wrapper">

     <span class="time-played">{{timePlayed || '00:00'}}</span>
     <div class="progress" (click)="seek($event)" >
        <div class="progress-fill" [style.width]="progressPercent"></div>
      </div>
      <span class="total-duration">-{{totalDuration || '00:00'}}</span>
   </div>
      <div class="control-btns-wrapper">
   <button class="control-btn material-icons {{isShuffle ? 'shuffled':''}}" title="{{ isShuffle ? 'shuffle on' : 'shuffle off'}}" (click)="shuffle()">shuffle</button>

     <button class="control-btn material-icons " (click)="previous()" title="previous">skip_previous</button>
     <button class="control-btn play-btn material-icons" (click)="playAndPause()" title="{{isPlaying ? 'pause' : 'play'}}">
        {{!isPlaying ? 'play_arrow' : 'pause'}}
      
   </button>
   
     <button class="control-btn material-icons" (click)="next()" title="next">skip_next</button>
     <button class="control-btn material-icons"  (click)="repeat()">{{repeatIcon}}</button>

  </div>
 </div>
