<style>
   @import url("https://fonts.googleapis.com/icon?family=Material+Icons");

</style>

<div class="container">
  <div class="image-wrapper">
     <img src="{{song.image}}" alt="" class="image">
  </div>
  <h2 class="title">{{song.title}}</h2>
  <span class="artist">{{song.artist}}</span>  
  <div class="control-btns-wrapper">
     <button class="control-btn material-icons " (click)="prevSong()">skip_previous</button>
     <button class="control-btn play-btn material-icons" (click)="playAndPauseSong()">
        {{!isPlaying ? 'play_arrow' : 'pause'}}
      
   </button>
   
     <button class="control-btn material-icons" (click)="nextSong()">skip_next</button>
  </div>
 </div>
