
.material-icons{
    /* font-size: inherit; */
    overflow: hidden;
 }
 :host{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 1rem;*/
    background: #777;
 }
 
 .muted{
    color: #696a6b!important;
 }
 .main-container{
   position: relative;
   width: 100%;
   max-width: 500px;
 }
 .container{
  padding: 1.5em;
  max-width: 500px;
  width: 100%; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #191a1a;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
 }
 .container.minimized{
   display: none;
 }
 .container::before{
    position: absolute;
    content: "";
    height:50%;
    max-height: 350px;
    width: 80%;
    max-width: 350px;
    top: 0;
    left: 0;
    background: linear-gradient(0deg,#cfe608,#ecf16c);
 
 }
 .header{
    z-index:2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em auto;
    width: 100%;
 }
 .back-btn{
    color: #191a1a;
 }
 .playlist-btn{
   z-index:5;
   position:relative;
 }
 .title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
    color: #fff;
 }
 .title,.artist{
    text-align: left;
    display: block;
    text-transform: capitalize;
 }
 .artist{
    color: #a4a4a4;
 }
 .control-btns-wrapper{
    display: flex;
    justify-content: center;
    gap:0.75em;
    align-items: center;
    margin: 2rem auto 1.5rem;
 }
 .control-btn{
    cursor: pointer;
    padding: 0.5em;
    border-radius: 50%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #fff;
    transition: 0.3s ease-in-out;
    
 }
 .control-btn:hover{
    transform: scale(1.05,1.05);
    transition: 0.3s ease-in-out;
 }
 
 .control-btn.play-btn{
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2.25em;
    background-color: #ecf16c;
    color: #191a1a;
 }
 .progress-wrapper{
    display: flex;
    align-items: center;
    position: relative;
 }
 .progress{
    max-width: 100%;
    flex:1;
    height: 5px;
    border-radius: 30px;
    background: transparent;
    position: relative;
 background: #545356;
 margin: 1em auto;
 cursor: pointer;
 
 }
 .progress-fill{
    position: relative;
    height: 100%;
    width: 0%;
    border-radius: inherit;
    background: #ecf16c;
 }
 /*.progress:hover .progress-fill:hover::before{
    transition: transform 0.3s ease-out;
    transform:translateY(-50%) scaleY(1);
 }*/
 .progress.playing .progress-fill::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:#ecf16c;
    top: 50%;
    right: -2px;
    transform: translateY(-50%);
    transition: transform 0.3s ease-out;
 }
 
 .time-played,.total-duration{
    color: #fff;
    position: absolute;
    bottom: -0.75em;
 }
 .time-played{
 left: 0;
 
 }
 .total-duration{
    right: 0;
 }
 .fav-btn{
    background: transparent;
    border:none;
    outline: none;
    color: #ecf16c;
 
    
 }
 @media all and (max-width:600px) {
    .container{
       height: 100vh;
       min-height: 500px;
       justify-content: space-evenly;
    }
    .container{
       font-size: 14px;
    }
 }