<style></style>

<div class="container">
  <div class="header">
    <button class="btn back-btn material-icons"> expand_more
    </button>
    <button class="btn material-icons playlist-btn" (click)="showPlayList()">
      queue_music
    </button>
  </div>
  <app-player-image [songImages]="songListImages" [currentIndexSub]="currentIndexSubject" (onSlide)="selectSongBySlide($event)"  ></app-player-image>
  <div class="title-container">
    <div class="title-wrapper">
      <h2 class="title">{{  currentSong.title }}</h2>
      <span class="artist">{{  currentSong.artist }}</span>
    </div>
    <button
      class="fav-btn material-icons"
      attr.data-song-id="{{  currentSong?.id }}"
      (click)="toggleFavorite($event)"
    >
      {{ currentSong.favorite ? "favorite" : "favorite_border" }}
    </button>
  </div>
  <div class="progress-wrapper">
    <span class="time-played">{{ timePlayed || "00:00" }}</span>
    <div class="progress" #progressBar (click)="seek($event)">
      <div class="progress-fill" [style.width]="progressPercent"></div>
    </div>
    <span class="total-duration">{{ totalDuration || "00:00" }}</span>
  </div>
  <div class="control-btns-wrapper">
    <button
      class="control-btn material-icons {{ !isShuffle ? 'muted' : '' }}"
      title="{{ isShuffle ? 'shuffle on' : 'shuffle off' }}"
      (click)="shuffle()"
    >
      shuffle
    </button>

    <button
      class="control-btn material-icons"
      (click)="previous()"
      title="previous"
    >
      skip_previous
    </button>
    <button
      class="control-btn play-btn material-icons"
      (click)="playAndPause()"
      title="{{ isPlaying ? 'pause' : 'play' }}"
    >
      {{ isPlaying ? "pause":"play_arrow"  }}
    </button>

    <button class="control-btn material-icons" (click)="next()" title="next">
      skip_next
    </button>
    <button
      class="control-btn material-icons {{
        repeatState == 'repeat off' ? 'muted' : ''
      }}"
      title="{{ repeatState }}"
      (click)="repeat()"
    >
      {{ repeatIcon }}
    </button>
  </div>
  <app-player-mini [currentSong]="currentSong" [isPlaying]="isPlaying" (onMiniPlayAndPause)="playAndPause()" (onMiniNext)="next()"></app-player-mini>
</div>

