
<div class="playlist-container " [ngClass]="{show:canShowPlaylist}">
    <div class="playlist-inner-container">
        <div class="btn-wrapper">

            <button class="btn material-icons playlist-btn" (click)="hidePlayList()">
                close
            </button>
        </div>
        <ul class="playlist">
            <li class="playlist-item {{currentIndex==index?'playing':''}}"  *ngFor="let song of songList;let index=index" (click)="setAsCurrent(index)">
                <div class="playlist-image-wrapper"><img src="{{song.cover}}" alt="" class="playlist-image"></div>
                <div class="playlist-item-details">
<strong class="playlist-item-details-title">
{{song.title}}
</strong><br>
<span class="playlist-item-details-artist">{{song.artist}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>